INSERT INTO common_tags_tags (name,
                              specialization,
                              created_at,
                              updated_at)
SELECT *
FROM dblink(
  'dbname=vod_backend_production',
  'SELECT DISTINCT ON (lower(t.name)) lower(t.name) AS name,
                                      t.specialization,
                                      t.created_at,
                                      t.updated_at
   FROM tags t')
AS t1(name text,
      specialization boolean,
      created_at timestamp,
      updated_at timestamp);