<div class="row">
  <div class="col-sm-12">
    <%= render 'lists_menu' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <H1>Editing: <span class="label label-info"><%= @tag.name %></span></H1>
    </div>
  </div>
</div>

<%= render 'form' %>
