<div class="row">
  <div class="col-sm-12">
    <%= render 'lists_menu' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="page-header">
      <H1>New Tag</H1>
    </div>
  </div>
</div>

<%= render 'form' %>
